@import '../../variables';
@import "../../app.scss";

.branding-card {
          border: 1px solid $dark-dark-color;
          padding: 20px;
          a :hover {
            text-decoration: underline;
            color: $dark-primary-color;
          }
}