@import "../../app.scss";
@import '../../variables';

.portfolio {
  position: relative;
  background-color: $light-background-color;
  .progress {
    position: sticky;
    text-align: left;
    padding: 0 120px;
    margin-top: 54px;

    @include mobile {
      padding-top: calc(1vh + 12px);
    }

    .progressBar {
      height: 4px;
      border-radius: 12px;
      background-color: $light-primary-color;
    }
  }

  .container {
    display: flex;
    width: 100vw;
    height: 100vh; // Use vh for full viewport height
    overflow: hidden;
    margin-top: 10px;
padding-right: 120px;
    .wrapper {
      min-width: 100%;
      height: 100%; // Allows children to take full height
      margin: 0;
      display: flex;
      gap: 24px;
      justify-items: flex-start;

      @include mobile {
        flex-direction: column;
        height: auto; // Change to auto for mobile
        align-items: flex-start;
      }

      .imageContainer {
        position: relative;
        flex: 8;
        height: 54%;
        padding-top: 54px;
        @include mobile {
          width: 100%;
          max-height: 300px;
        }

        h2 {
          text-transform: uppercase;
          padding-left: 120px;

          @include mobile {
            padding-left: 10px; // Adjust padding for mobile
          }
        }

        span {
          text-transform: uppercase;
          font-family: $light-primary-color;
          text-decoration: underline;
          text-underline-offset: 4px;
          padding-left: 120px;

          @include mobile {
            font-size: 16px;
            padding-left: 10px; // Adjust padding for mobile
          }
        }

        img {
          width: auto;
          height: 440px;
          object-fit: cover;

          @include mobile {
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .textContainer {
        flex: 4;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-end;
        justify-content: end;

        @include mobile {
          padding: 10px;
          align-items: end;
        }

        h2 {
          font-size: 24px;

          @include mobile {
            font-size: 36px;
          }
        }

        p {
          font-size: 32px;
text-align: right;
          @include mobile {
            padding-top: 120px;
            font-size: 54px;
          }
        }

        button {
          background-color: $light-primary-color;
          border: none;
          border-radius: 4px;
          padding: 10px;
          cursor: pointer;

          &:hover {
            background-color: darken($light-primary-color, 10%); // Add hover effect
          }
        }
      }
    }
  }
}
.branding {
  padding: 54px 120px;
        button {
margin-top: 20px;        
width: 100%;
        height: 100px;
        border-radius: 50px;
        background-color:$light-primary-color;
        border: none;
        font-size: 24px;
        cursor: pointer;

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
      }
  .branding-grid {
    display: grid;
    grid-template-columns: 1fr  1fr; // Three equal columns
    gap: 20px; // Adjust the gap as needed

    .grid-item {
      padding: 20px;
      background-color: $light-background-color; // Change background color as needed
      border-radius: 10px;
    }

    .grid-info {
      grid-column: span 1; // Span the first column
      h1 {
        margin-bottom: 10px;
      }
    }

    .project-preview {
      display: flex;
      flex-direction: row;
      gap: 0px; // Gap between cards
      grid-column: span 1; // Each preview column spans one column
      img{
        width: 320px;
      }
    }
  }

  .branding-bottom-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-large {
      flex: 2; // Take 2/3 of the space
      img {
        width: auto; // Ensure the logo takes full width
        height: 240px; // Maintain aspect ratio
      }
    }

    .text-link {
      flex: 1; // Take 1/3 of the space
      text-align: left;

      h2 {
        margin-bottom: 10px;
      }

      a {
        text-decoration: underline;
        color: $light-primary-color; // Change to your desired link color
      }
    }
    
  }
}
.project-grid {
  display: grid; // Use CSS Grid
  grid-template-columns: repeat(3, 1fr); // Three equal columns
  gap: 0px; // Space between the grid items
padding: 0 120px;
  // Ensure responsiveness
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); // Two columns for medium screens
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr; // One column for mobile screens
  }
}
