@import "../../variables";

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 54px 120px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 64px;
    font-weight: 800;
    color: $dark-primary-color;
background-color: $light-primary-color;
border-radius: 120px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .nav-links {
      display: grid;
      grid-template-columns: repeat(5, 1fr); /* 4 equal columns */
      gap: 20px; /* Space between grid items */
      width: 100%;
      text-align: center;
      align-items: center; 

 
      a {
        display: flex; 
        justify-content: start; 
        align-items: center; 
        text-decoration: none;
        color: #030303;
        font-size: 18px;
        height: 70px; 
        transition: border-bottom 0.3s;

        &.active {
          text-decoration: underline; 
          text-underline-offset: 8px;
          font-weight: 800;
          color: $dark-primary-color;
        }

        &:hover {
          color: $dark-primary-color;
        }
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .wrapper {
    .nav-links {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .wrapper {
    .nav-links {
      grid-template-columns: 1fr; 
    }
  }
}
}